{% extends "baseadmin.html.twig" %}

{% block body %}
    <div class="container mt-4">
        <h2 class="text-center mb-4">Modifier le Voyage</h2>

        {{ form_start(formvisite) }}
        <div class="row g-3">
            <div class="col-md-6">
                {{ form_row(formvisite.datecreation) }}
            </div>
            <div class="col-md-6">
                {{ form_row(formvisite.note) }}
            </div>
            <div class="col-md-6">
                {{ form_row(formvisite.tempmin) }}
            </div>
            <div class="col-md-6">
                {{ form_row(formvisite.tempmax) }}
            </div>
            <div class="col-md-6">
                {{ form_row(formvisite.ville) }}
            </div>
            <div class="col-md-6">
                {{ form_row(formvisite.pays) }}
            </div>
            <div class="col-12">
                {{ form_row(formvisite.avis) }}
            </div>
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
        {{ form_end(formvisite) }}
    </div>
{% endblock %}
